{% set dosage_units = [
  ("1", "Stück"),
  ("6", "ml"),
  ("q", "cm"),
  ("5", "Hub"),
  ("p", "IE"),
  ("7", "Teelöffel"),
  ("8", "Esslöffel"),
  ("o", "Sprühstoß"),
  ("9", "E"),
  ("g", "Einzeldosis"),
  ("b", "Applikatorfüllung"),
  ("n", "Pipettenteilstrich"),
  ("0", "Messbecher"),
  ("#", "Messlöffel"),
  ("3", "Flasche"),
  ("4", "Beutel"),
  ("l", "Mio E"),
  ("m", "Mio IE"),
  ("t", "g"),
  ("r", "l"),
  ("a", "Tasse"),
  ("h", "Glas"),
  ("j", "Messkappe"),
  ("k", "Messschale"),
  ("i", "Likörglas"),
  ("c", "Augenbadewanne")
] %}